<p>You have been invited to join UCAP</p>

<p>Following details are being created by System Admin</p>
<p>User Name : ${userName}</p>
<p>Password : ${tmpPassword}</p>

<p>Please click following URL to Login </p>

Login URL : ${loginURL}

